*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  min-height: 50px;
  margin: 0 auto;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  height: 50px;
  background-color: brown;
}

main {
  height: calc(100vh - (50px + 80px));
  background-color: black;
  overflow: auto;
  display:flex;
  align-items: center;
}

footer {
  height: 80px;
  background-color: brown;
}

/* START HEADER */

header {
  background-color: rgb(0, 0, 0) ;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

header .icons span {
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  font-weight: 600;
  color: white;
  background-color: rgb(74, 74, 74);
  cursor: wait ;
  transition: .5s;
}

header .icons span i {
  font-size: 1rem;
}


.icons span:first-child i:first-child {
  margin-right: 10px;
}

/* END HEADER */

/* START MAIN */

/* ----START CARD STYLE---- */

.user-card {
  width: calc(100% / 7);
  min-width: 230px;
  height: 155px;
  padding: 5px;
  position: relative;
  flex-wrap: wrap;
}

.user-video.manager {
  border: 2px solid rgb(75, 200, 0);
}

.user-video {
  height: 100% ;
  background-color: black;
  position: relative;
}

.user-card .user-info {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
  background-color: rgba(128, 128, 128, 0.6);
  padding: 5px;
  border-radius: 0 5px 0 0 ;
}

.user-info span {
  font-weight: 600;
  font-size: .8rem;
}


/* START SPEAKER VIEW STYLE */


header .icons:last-child img {
position: absolute;
width: 0px;
height: 0px;
top: 455px;
right: 955px;
object-fit: cover;
border: 5px solid rgb(75, 200, 0);
opacity: 0;
transition: .3s;
}

header span:first-child:hover {
  background-color: green;
}

header .icons:hover img {
  animation-name : lettop ;
  animation-duration: 30s;
  transition-timing-function: linear;
  width: 100vw;
  height: calc(100vh - (50px + 80px)); 
  top: 50px;
  right: 0; 
  z-index: 1;
} 
@keyframes lettop {
  1% {
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}


/* END SPEAKER VIEW STYLE */

/* --- START LAYOVER STYLE--- */

.layover {
  min-width: 100% ;
  min-height: 100%;
  background-color: rgba(45, 45, 45, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-duration: 0.3s;
}

.layover > span {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bolder;
  color: white;
  background-color: rgb(255, 70, 70);
  transition-duration: .3s;
}

#manager {
  background-color: rgb(42, 163, 255);
}

#manager:active {
  background-color: rgb(2, 118, 207);
}

.user-card:hover .layover {
opacity: 1;
}

.layover > span:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
  padding: 10px 20px;
  font-size: 1.3rem;
}

.layover > span:active {
  background-color: rgb(88, 0, 0);
  cursor: wait;
  box-shadow: none;
}

/* --- END LAYOVER STYLE--- */


/* ----END CARD STYLE---- */
/* END MAIN */

/* START FOOTER */

footer {
  display: flex;
  justify-content:space-between ;
  color: white;
  background-color: rgb(34, 34, 34)
}

.fot {
  height: 80px;
  min-width: 500px;
}

.fot.left {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.fot.center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 2;
}

.fot.right {
  display: flex;
  align-items: center;
  justify-content: end;
}

/*START BTN STYLE */
button {
border: 1px solid rgba(0, 0, 0, 0);
background-color: rgba(0, 0, 0, 0);
color: white;
cursor: pointer;
}

button:hover {
  border: 1px solid white;
  border-radius: 10px;
}

.btn {
  min-width: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.icon i:first-child {
  font-size: 1.8rem;
}

.icon > span {
  font-size: .9rem;
}

.fa-share-from-square {
  color:rgb(75, 200, 0);
}
/* END BTN STYLE */

/* END MEETING STYLE */

.fot.right > button {
  height: 100%;
  padding: 0 30px;
  font-size: 1.2rem;
  color: red;
  background-color: rgb(74, 74, 74);
}

.fot.right > button:hover {
  border: 1px solid rgba(255, 0, 0, 0.644);
  border-radius: 0;
}
